<div class="container">
    <div class="g-conner grid g-func"></div>

    <div class="g-top grid g-func"><img src="assets/up.png" class="nav-img"></div>

    <div class="g-conner grid g-func"></div>

    <div class="g-left grid g-func"><img src="assets/left.png" class="nav-img"></div>

    <div class="g-middle grid">
        <div class="block-world">
            <% for i in 0..47 do %>
                <div class="block" coor-x= "<%= i%8 %>" coor-y= "<%= i/8 %>" status="blank"></div>
            <% end %>
        </div>
    </div>

    <div class="g-right grid g-func"><img src="assets/right.png" class="nav-img"></div>

    <div class="g-conner grid g-func"></div>

    <div class="g-bottom grid g-func"><img src="assets/down.png" class="nav-img"></div>

    <div class="g-conner grid g-func"></div>
</div>