.container {width: 1410px;}
/*gird world*/
.block-container {position: relative; overflow: hidden; width: 1410px;}

.block-container .block {float: left; width: 198px; height: 198px; border: 1px solid #fff; position: relative; overflow: hidden;}
.block-container .block.r1:hover {border-color: #aaa;}
.block-container .block.edited {border-color: #333;}
.block-container .block.filled {border-color: #aaa;}

/*side panel*/
.editor-form {position: fixed; width: 200px; height: 100%;}
.invisible {display: none;}
.editor-form form .ke-container .ke-edit {height: 200px !important;}
.editor-form form .ke-container .ke-edit .ke-edit-iframe {height: 200px !important;}
.editor-form form .ke-container .ke-statusbar {display: none;}
.editor-form form input.btn {border: none; width: 100%; height: 28px;}
.editor-form .edit-opt {width: 100%; height: 28px; background-color: #aaa; margin-top: 10px; text-align: center;}

/*navi*/
.nav {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 210px;
    height: 210px;
    background-color: #eee;
    opacity: 0.7;
    overflow: hidden;
}

.nav-btn {
    height: 68px;
    width: 68px;
    border:1px solid #999;
    background-color: #fff;
    float: left;
}

/*detail panel*/
.detail-panel {position: absolute; z-index: 30; top: 0; width: 200px; height: 200px; background: #fff; border: 1px solid #aaa;}

