.container{
  width:1060px;
}

.grid{
  float: left;
  position: relative;
}

.g-conner{
  width: 50px;
  height: 50px;
}

.g-left, .g-right{
  width: 50px;
  height: 640px;
}

.g-top, .g-bottom{
  width: 960px;
  height: 50px;
}

.g-middle{
  width: 960px;
  height: 640px;
  overflow: hidden;
  position: relative;
}

.top-sec{
  padding-top: 10px;
  float: left;
  height: 50px;
  width: 160px;
  text-align: center;
}

.left-sec{
  width: 50px;
  height: 100px;
  text-align: center;
  padding-top: 60px;
}

.go-left:hover, .go-up:hover, .go-right:hover, .go-down:hover{
  font-weight: bold;
  font-size: 30px;
}

.block-world{
  width: 1280px;
  height: 960px;
  position: absolute;
  top: -160px;
  left: -160px;
}

.block{
  border: 1px solid #ddd;
  width: 158px;
  height: 158px;
  float: left;
  position: relative;
}

.block:hover{
  border-color: #333;
}

.block .block-img{
  width: 158px;
}

.block .block-title{
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.nav-block{
  position: absolute;
  top: 0px;
  left: 640px;
  background-color: #fff;
  width: 318px;
  height: 318px;
  border: 1px solid #ddd;
}

.mask{
  position: absolute;
  background-color: #fff;  
}

.mask:hover{
  display: none;
}

.templates{ 
  display: none;
}

.opt-block{
  position: absolute;
  top: 320px;
  left: 640px;
  background-color: #fff;
  width: 320px;
  height: 320px;
  overflow: hidden;  
}

.opt-block .sub{
  border: 1px solid #ddd;  
  width: 158px;
  height: 158px;
  float: left;
}

.opt-block .sub:hover{
  font-size: 30px;
  font-weight: bold;
}

.add-opt:hover{
  font-size: 30px;
  font-weight: bold;  
}

.add-opt input#block_title{
  border: none;
}

.opt-add-block .opt-row{
  margin: 20px;
  height: 80px;
}

.opt-add-block .opt-row .submit{
  color: #000;
  text-decoration: none;
}

.opt-add-form{
  margin-top: 40px;
}

.ghost{
  display: none;
}

.studio{
  width: 960px;
  height: 640px;
  position: relative;
}

.studio .block-add-form{
    position: absolute;
    z-index: 5;
    top : 0;
    right: 0;
    background-color: #fff;
}

.studio .block-add-form .add-opt{
  width: 318px;
  height: 158px;
  border: 1px solid #ddd;
  border-left: none;
}

.dis-block{
  border: 1px solid #ddd;
  overflow: hidden;
  position: absolute;
  height: 638px;
  width: 638px;
  background-color: #fff;
}

.dis-block .image-board{
    overflow: hidden;
}

.dis-block .image-board img{
    max-width: 640px;
    max-height: 640px;
}

.dis-block .title-board{
    position: absolute;
    top: -160px;
    background-color: #fff;
    width: 638px;
    height: 158px;
    border: 1px solid #ddd;
    text-align: center;
}

