<!DOCTYPE html>
<html>
<head>
  <title>Lls</title>
  <%= javascript_include_tag "application" %>
  <link href="assets/reset.css" rel="stylesheet">
  <link href="assets/xmain.css" rel="stylesheet">
  <link href="assets/grid.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
